*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #081c2c;
  height: 100vh;
}

.grid{
  display: grid;
}

.col-1
{
  grid-template-columns: repeat(1,1fr);
}

.col-2
{
  grid-template-columns:repeat(2,1fr);
}

.col-3
{
  grid-template-columns: repeat(3,1fr);
}

.col-4
{
  grid-template-columns: repeat(4,1fr);
}
.col-5
{
  grid-template-columns: repeat(5,1fr);
}
.col-6
{
  grid-template-columns: repeat(6,1fr);
}



.hide{
  display: none;
}
.align-items-center{
  align-items: center;
}

#admin-page{


  background-color: #081c2c;

}
#type-selector
{
  width:20%;
  margin:0 auto;
  margin-top:40px;
  border: 3px solid #2596be;
  background-color: #081c2c;
  border-radius: 20px;
}
#type-selector > div > div:nth-child(1) > div,
#type-selector > div > div:nth-child(2) > div,
#type-selector > div > div:nth-child(3) > div{
  padding: 10px;
}
#type-selector > div > div:nth-child(1) > div:hover,
#type-selector > div > div:nth-child(2) > div:hover,
#type-selector > div > div:nth-child(3) > div:hover
{
 
  color: white;
  cursor: pointer;
 
}

#content-table
{
  background-color: #2596be;
   text-align:center;
   width: 90%;
   margin: 0 auto;
   padding: 20px 0;
   margin-top: 20px;
}

#edit-modal{
  position:absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(128, 128, 128, 0.589);
}

#edit-modal > div > div{
 
  width:40%;
  background-Color:#2596be;
  align-items:center;
  justify-self: center;
 
}

#form-div{
  padding: 20px 40px;
  
}

#search
{
  width: 100%;
  margin-top: 0;
  height: 100px;
}

#search-bar{
  width: 100%;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 24%, rgba(37,150,190,1) 100%);
  height: 100%;
  border: none;
  font-size: 40px;
  color: azure;
  padding: 10px;
}

#nav{
  margin-bottom:0;
}

#featured-film > div > div> p:nth-child(2){
  justify-self: end;
}